<html>
  <head>
    <title>Hello From <%= @os %></title>
  </head>
  <body>
    <h1>HELLO WORLD!!</h1><br /><br /><br />
    I was written for Chef Testing on <%= @os %> by <%= @author_name %><br /><br /><br />
    This page generated on <%= @generated_time %>
  </body>
</html>
